.body {
    color: #000000;
    font-family: Verdana;
    font-size: medium;
    background-color: #7f8d87;
}


.MainDiv {
    text-align: center;
    border: solid 1px #ffd800;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
}

.Table {
    border: dashed 2px #ff0000;
    text-align: center;
    font-size: medium;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}


.Buttons {
    width: 100%;
    font-family: Verdana;
    font-size: larger;
    border: solid 2px;
    border-radius: 5px;
}
